*{
	padding : 0;
	margin 	: 0;
	margin-left: 100px;
}

body{
	background-color: black;
}

td{
	width: 20px;
	height: 20px;
}

.blank{
	background-color: blank; 
}

.wall{
	background-color: red;
}

.snake{
	background-color: white;
}

.food{
	background-color: yellow;
}

